<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.menu.command"
            name="Extract Interfaces">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.refactoring.menu?after=additions">
         <command
               commandId="com.menu.command" 
               label="Extract Interfaces"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate ifEmpty="false">
                    <or>
                        <instanceof value="org.eclipse.jdt.core.IPackageFragment" />
                        <instanceof value="org.eclipse.jdt.core.ICompilationUnit" />
                    </or>
                </iterate>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.successfactors.refactorall.handlers.RefactorHandler"
            commandId="com.menu.command">
      </handler>
   </extension>
</plugin>
